.form {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.form-heading {
  // position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  color: #333;
  background-color: #fcfcfc;
  border-color: #ddd;
}
.form-title {
  // position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 19px;
}
.form-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.btn {
  display: inline-block;
  font-size: 1.3rem;
  line-height: normal;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.3846153846153846em 1.9230769230769231em;
  margin: 0;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #171717;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
  cursor: pointer;

  &:hover {
      background: rgba(0,0,0,.7);
      border-color:  rgba(0,0,0,.7);
  }

  &:disabled {
      opacity: .6;
      pointer-events: none;
  }

}

.btn, .btn:hover {
  @include transition(all .4s ease-in-out);
}
