<!-- <div class="form-container">
    <div class="form-header">
      <h1>ldsfjdlskfjsdl</h1>
    </div>

    <div class="form-body">
      <mat-form-field class="justifier">
          <input matInput placeholder="Email" text="email" class="form-input">
      </mat-form-field>
      <mat-form-field class="justifier">
          <input matInput placeholder="Password" text="password" class="form-input">
      </mat-form-field>
    </div>
  </div> -->

<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Salary Settings</h4>
    </div>
    <div class="panel-body">
      <mat-form-field>
        <input matInput placeholder="Email" text="email" class="form-input">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" text="password" class="form-input">
  </mat-form-field>
      </div> -->

<div class="form">
  <div class="form-heading">
    <div class="form-title">Salary Setting</div>
  </div>
  <div class="form-body">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" text="email" class="form-input">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" text="password" class="form-input">
    </mat-form-field>
  </div>
</div>

<a routerLink="/addserie">Add Serie</a>

