:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  display: block;
  margin: 0 1em;
}

mat-card-title,
mat-card-content {
  min-width: 300px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.mat-raised-button {
  margin: 20px 1em;
  border-radius: 0px;
  min-width: 200px;
}
