<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>admin naja</h2>
      <h4>admin@gmail.com</h4>
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="dognaj">
    </div>
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <div>
    <a mat-list-item [routerLink]="['/admin/dashboard']" routerLinkActive="list-item-active">Dashboard</a>
    <a mat-list-item [routerLink]="['/admin/tab']" routerLinkActive="list-item-active">Tab</a>
    <a mat-list-item [routerLink]="['/admin/series']" routerLinkActive="list-item-active">Series</a>
    <!--<a mat-list-item [routerLink]="['/admin/movie']" routerLinkActive="list-item-active">Movie</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item [routerLink]="['/admin/contact']" routerLinkActive="list-item-active"><mat-icon>import_contacts</mat-icon>Contact</a>
    <a mat-list-item [routerLink]="['/admin/contact']" routerLinkActive="list-item-active"><mat-icon>import_contacts</mat-icon>Lead</a>
  </div>

</mat-nav-list>
