// :host {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
.inline {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;

}

.infix {
  width: 100px;
}

mat-form-field {
  display: flex;
  flex-direction: column;
}