<!-- <mat-form-field>
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="serieControl" multiple>


    <mat-select-trigger>
      <mat-chip-list>
        <mat-chip *ngFor="let serie of serieList" [removable]="true" (removed)="onRemoved(serie)">
          {{ serie.title?.th }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-select-trigger>



    <mat-form-field>
      <input matInput [formControl]="myControl" type="text" placeholder="Search">
    </mat-form-field>
    <mat-option *ngFor="let serie of filteredOptions | async" [value]="serie.title?.th">
      {{serie.title?.th}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br /> 
{{ serieControl.value | json }} -->



<mat-form-field>
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="serieControl" #multiSelect multiple>


    <mat-select-trigger>
      <mat-chip-list #chipList selected>
        <ng-container>
          <mat-chip color="primary" *ngFor="let serie of serieControl?.value; let matChipIndex = index" selected
            [removable]="true" (removed)="onRemoveFruit(multiSelect, matChipIndex)">
            {{serie._id}} {{serie.title?.en}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </mat-select-trigger>


    <!-- {{serie.genres[0]?.name?.en}} {{serie.genres[1]?.name?.en}} -->
    <mat-form-field>
      <input matInput [formControl]="myControl" type="text" placeholder="Search">
    </mat-form-field>
    <mat-option *ngFor="let serie of filteredOptions | async" [value]="serie">
      {{serie.title?.en}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br /> 
{{ serieControl.value | json }}

<button (click)="onSubmit()">Submit</button>


