<p>select-search works!</p>
<!-- <form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()" class="book-form">
  <mat-form-field class="select-book">
    <input type="text" placeholder="Select a book" matInput formControlName="book" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let book of $filteredBooks | async" [value]="book">
        {{book.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="book.hasError('required')">
      Book required.
    </mat-error>
  </mat-form-field>
  <br/>
  <br/>
  <button mat-raised-button>Submit</button>
  <button mat-raised-button type="button" (click)="resetForm()">Reset</button>
</form> -->

<mat-form-field class="example-full-width">
  <input type="text" placeholder="Pick one" matInput [formControl]="myControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let serie of filteredOptions | async" [value]="serie.titile?.th">{{serie.title?.th}}</mat-option>
  </mat-autocomplete>
</mat-form-field>


<!-- <div class="formContainer">
	<mat-form-field style="text-align: right">
		<input type="text" placeholder="Start Typing..." matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title?.th">
                  {{option.title?.th}}
                </mat-option>
              </mat-autocomplete>
    </mat-form-field>

</div> -->
