<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email" placeholder="Email">
    <mat-icon matSuffix>account_box</mat-icon>
    <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" placeholder="Password">
    <mat-icon matSuffix>account_box</mat-icon>
    <mat-error *ngIf="loginForm.controls.password.errors?.required">Password is required</mat-error>
  </mat-form-field>
  <button [disabled]="loading" class="btn btn-primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Login
  </button>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3 mb-0">{{ errorMessage }}</div>
  <br>
  <a routerLink="/register" class="btn btn-link">Register</a>
</form> -->
<mat-card>
  <mat-card-title>Log In</mat-card-title>
  <mat-card-content>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" placeholder="Email" required>
        <mat-icon matSuffix>account_box</mat-icon>
        <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password" required>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="loginForm.controls.password.errors?.required">Password is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color='primary'>Login</button>
      <!-- <button mat-raised-button color='accent'>Accent</button> -->
      <a routerLink="/register">Register</a>
    </form>
  </mat-card-content>
</mat-card>
<!-- <button class="btn">text</button> -->